{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 240,
  "arrowParens": "always",
  "trailingComma": "none"
}
